<div>
 <div class="image">
    <img src="\assets\our story\billionphotos1704770.jpg"> 
 </div>
 <div class="strip">
    <h1>Our Story</h1>
    <p>At YOLO Life, we are devoted to delivering clean and healthy food options to our<br> health-conscious consumers. We source our<br> food products from likeminded partners<br> who are committed to sustainable <br>processes, raising/producing food products<br> that are 100% natural and free of harmful<br> chemicals, preservatives, and commercial<br> additives. We understand the importance of<br> finest natural ingredients in the food we<br> deliver. We work with partners who are<br> aligned with this philosophy to ensure that<br> the ingredients and practices are safe for <br>the environment and safe for our bodies.</p>
 </div>
</div>