
.container {
    padding-top: 200px;
    left: 310px;
    width: 220px;

    
  }
.btn1{
    margin-top: 20px;
    border-radius: 35px;
}
.row{
    margin-left: -480px;
    margin-right: 200px;

}


