input {
  border: 1px solid black;
  border-radius: 0;
  height: 37px;
  width: 225px;
 
  position: absolute;
  top: 310px;
  right: 690px;
}
.lastname{
  border: 1px solid rgba(0, 0, 0, 0.808);
  border-radius: 0;
  height: 37px;
  width: 225px;
 
  position: absolute;
  top: 310px;
  right: 450px;
}
.Email-text{
  border: 1px solid rgba(0, 0, 0, 0.808);
  border-radius: 0;
  height: 37px;
  width: 470px;
 
  position: absolute;
  top: 410px;
  right: 450px;
}
.Message{
  border: 1px solid rgba(0, 0, 0, 0.808);
  border-radius: 0;
  height: 97px;
  width: 467px;
 
  position: absolute;
  top: 510px;
  right: 450px;
}
.con{
  position: fixed;
  top: 150px;
  left: 50px;
  font-size:65px;
  font-weight: 900;
}
.icon-image{
  position: fixed;
  top: 320px;
  height: 30px;
  left: 40px;
  

}
.icon-image1{
  position: fixed;
  top: 450px;
  height: 30px;
  left: 40px;
  

}
.icon-image2{
  position: fixed;
  top: 550px;
  height: 30px;
  left: 40px;
  

}
.address{
  position:absolute;
  text-align: justify;
  top:300px;
  left: 100px;
}
.phone{
  position:fixed;
  top:455px;
  left: 100px;
}
.email{
  position:fixed;
  top:555px;
  left: 100px;
}
.f1{
  position:fixed;
  top:280px;
  left: 453px;
  font-size: 15px;
}
.l1{
  position:fixed;
  top:280px;
  right: 600px;
  font-size: 15px;
}
.E1{
  position:fixed;
  top:380px;
  left: 453px;
  font-size: 15px;
}
.M1{
  position:fixed;
  top:475px;
  left: 453px;
  font-size: 15px;
}
.btn1{
  position: fixed;
  top:620px;
  right: 450px;
  border-radius: 20px;
  width: 120px;
  height: 40px;
  color: rgb(67, 7, 7);
}
.map{
  margin-left: 950px;
  margin-top: 200px;
}
