.navbar-expand-lg .navbar-nav .nav-link{
    text-align: center; 
    color:var(--primary-color);
    
    margin: -80px;
    margin-left: 180px;
    top: -0px;
    
    
}
.container-fluid
{
    margin: 0 auto;
    width: 80%
}
.nav-link active{
    text-align: center; 
    margin: top 50px;
}
/* .logo
{
    position:relative;
    margin-top: -125px;
    margin-bottom: -230px;
    padding: 100px ;} */

/* .navbar-toggler-icon{
    text-align: left;
} */


.navbar-toggler-icon{
    margin-right: 0%;
    padding-top: 10pt;
}
.subscribe{
    margin-left: 850pt;
    position: fixed;
    top: 20px;
}
.logo{
    margin-right: 200pt;
}