<!-- <body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container">
                  
               <div class="container-fluid">
                <div class="logo">
                    <img src="/assets/Asset 4_4x.png" alt="logo" width="85" height="112">
                  </div>
                <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                
                <div class="navbar navbar-expand-lg navbar-light bg-light" id="navbarCollapse">
                    <div class="navbar-nav">
                      <a class="nav-link active" routerLink="home" routerLinkActive="active-link" >Home</a>
                      <a class="nav-link active" routerLink="about" routerLinkActive="active-link" >About us</a>
                      <a class="nav-link active" routerLink="contact" routerLinkActive="active-link" >Contact us</a>
                      <a class="nav-link active" routerLink="product" routerLinkActive="active-link" >product</a>
                    </div>
                    
                    
                </div>
                
            </div>
            <a class="subscribe" routerLink="">
                <img src="/assets/FreeDelivery.webp" alt="Delivery" width="112" height="104"></a>
            </div>
        </nav>
    </div>
    </body> -->
    <body>
        <div class="wrapper">
          <nav>
            <a href="#" class="logo" >
            <img src="/assets/Asset 4_4x.png" alt="logo" width="85" height="112"> </a>
            <input type="checkbox" name="" id="toggle">
            <label for="toggle"><i class="material-icons">menu</i></label>
            <div class="menu">
              <ul>
                <li><a href="home" routerLink="home" routerLinkActive="active-link">Home</a></li>
                <li><a href="about" routerLink="about" routerLinkActive="active-link">About</a></li>
                <li><a href="product" routerLink="product" routerLinkActive="active-link">product</a></li>
                <li><a href="Contact" routerLink="contact" routerLinkActive="active-link">Contact Us</a></li>
              </ul>
            </div>
            <a href="#" class="logo" >
              <img src="/assets/FreeDelivery.webp" alt="Delivery" width="112" height="104"></a>
              <input type="checkbox" name="" id="toggle">
          </nav>
        </div>
      </body>
<router-outlet></router-outlet>