<div class="box-container">
    <div class="box1">
        <img src="\assets\product\egg1.jpg" alt="">
        <p>Free Range Eggs</p>
        <p class="p">Price<span>₹150</span></p>
    </div>
    <div class="quantity">
        <label for="qty">Quantity:</label>
        <select id="qty" name="qty">
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
      </div>
      
    <button  (click)="goToPage()">Add To Cart</button><br>
    <button  class="btn">Buy Now</button>
</div>