


<section class="product">
<h1 class="heading">our <span class="span">products</span></h1>

<div class="boxcontainer">
<!--product1-->
    <div class="box">
        <div class="image">
            <img src="/assets/product/egg1.jpg" alt="" height="20%" width="20%">
        </div>
        <div class="content">
            <h3 class="head">Free Range Eggs</h3>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <span class="price">&#8377;130</span>
            <a href="#" class="btn">Buy Now
            </a>
        </div>
    </div>


   
<!--product2-->
   <div class="box">
    <div class="image">
        <img src="/assets/product/bread.jpg" alt=""  height="15%" width="20%">
    </div>
    <div class="content">
        <h3 class="head">Organic Bread</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <span class="price">&#8377;125</span>
        <a href="#" class="btn">Buy Now
        </a>
    </div>
</div>
<!--product3-->
<div class="box">
    <div class="image">
        <img src="/assets/product/milk2.jpeg" alt="" height="20%" width="20%">
    </div>
    <div class="content">
        <h3 class="head">Organic Milk</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <span class="price">&#8377;100</span>
        <a href="#" class="btn">Buy Now
        </a>
    </div>    
</div>
</div>
</section>