


<section class="product">
<h1 class="heading">our <span class="span">products</span></h1>

<div class="boxcontainer">
<!--product1-->
    <div class="box">
        <div class="image">
            <img src="/assets/product/egg1.jpg" alt="">
        </div>
        <div class="content">
            <h3 class="head">Free Range Eggs</h3>
            <div class="stars">
                <i class="fa-solid fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            <div class="price1">&#8377;150</div>
            <a (click)="goToPage()" class="btn">Buy Now

            </a>
        </div>
    </div>


   
<!--product2-->
   <div class="box">
    <div class="image">
        <img src="/assets/product/bread1.jpg" alt="" >
    </div>
    <div class="content">
        <h3 class="head">Organic Bread</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
        </div>
        <div class="price1">&#8377;125</div>
        
        <a href="#" class="btn">Buy Now
        </a>
    </div>
</div>
<!--product3-->
<div class="box">
    <div class="image">
        <img src="/assets/product/milk2.jpeg" alt="">
    </div>
    <div class="content">
        <h3 class="head">Organic Milk</h3>
        <div class="stars">
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star"></i>
            <i class="fas fa-star-half-alt"></i>
        </div>
        <div class="price1">&#8377;100</div>
        <a href="#" class="btn">Buy Now
        </a>
    </div>    
</div>
</div>
</section>