<body>
    <div class="bg-container1" >
     
      <div class="home">
        <div class="con">
        <img class="ima" src="/assets/home/IMG_20230126_111453.jpg"></div>
      </div>
      

      
      

    </div>
    <div class="container">
      <div class="row">
          <div class="col1">
            <h4 class="text1"  routerLink="our-story" routerLinkActive="active-link">Our Story</h4>
           <div class="img1"  routerLink="our-story" routerLinkActive="active-link"> <img src="/assets/home/hi1.jpg" width="100px" height="100px" >
          </div>
        </div>
          
          <div class="col2">
            <h4 class="text2">Free Range Eggs</h4>
            <div class="img2"> <img src="/assets/home/egg.jpg" width="100px" height="100px">
            </div>
          </div>
          <div class="col3">
            <h4 class="text3">Become a Partner</h4>
            <div class="img3"> <img src="/assets/home/bap.jpg" width="100px" height="100px">
            </div>
          </div>
          <div class="col4">
            <h4 class="text4">Contact Us</h4>
            <div class="img4"> <img src="/assets/home/cu.jpg" width="100px" height="100px">
            </div>
          </div>
        
      </div>  
      
  </div>
</body>
